# Entornos
myenv_IL/
.venv
venv/
env/

# VSCode
.vscode/
__pycache__/
*.py[cod]
.pytest_cache/


# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Imágenes locales de trabajo
imagenes/


# Modelos pesados
*.bin
*.pt
*.pth
*.model

# Datos grandes
papers/todos/
data/raw/
src/data
doc_base_anteEstabilidad/
src/notebooks/model/
src/notebooks/muerte_subita/
src/notebooks/visualizacion/
src/notebooks/web-scraping/


# Archivos temporales
*.log
*.tmp
*.aux
*.out
*.toc